.FormData .row{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.FormData .row span{
    width: 100%;
}
.FormData .row span select,
.FormData textarea{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #242424;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 12px;
}
.FormData textarea{
    height: 230px;
    resize: none;
}
.FormData label{
    color: #fff;
}
.FormData button{
    padding: 15px 45px;
    border-radius: 12px;
    background-color: #9945ff;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
