@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.header {
  width: 90%;
  margin: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .left {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}
.header .center {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .center ul {
  display: flex;
  align-items: center;
}
.header .center ul li {
  list-style-type: none;
  padding: 0px 36px;
}
.header .center ul a{
  text-decoration: none;
}
.header .center ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  display: block;
  width: 100%;
}
.header .right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.header .right a {
  width: 159px;
  height: 47px;
  border: none;
  background: linear-gradient(94.61deg, #9945ff 3.7%, #1bf5a0 100%);
  border-radius: 40px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 19px;
  text-decoration: none;
  line-height: 23px;
  color: #ffffff;
}
@media screen and (max-width:1100px){
  .header .center ul li {
    padding: 0px 16px;
  }
}
@media screen and (max-width:992px){
  .header .center ul li {
    list-style-type: none;
    padding: 0px 16px;
    padding-left: 0px!important;
  }
  .header .left{
    margin: 20px auto 10px auto;
  }
  .header .center{
    width: 100%;
    margin: 20px auto;
    background-color: #242424;
    border-radius: 10px;
  }
  .header{
    flex-direction: column;
  }
}
@media screen and (max-width:800px){
  .header .right{
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width:669px){

  .header{
    width: 90%;
  margin: auto;
  }
  .header .left img{
    width: 100px;
  }
}