form{
  width: 100%;
  margin-bottom: 100px;
}
form .inputrow{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
form .inputrow span{
  width: 48%;
}
form .inputrow span label,
form .inputrow span div label{
  color: #fff;
}
form .inputrow span input,
form .inputrow span div select{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #242424;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 12px;

}
form .inputrow span div{
  width: 90%;
}
form .inputrow span:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form .inputrow span select {
  width: 90%;
}
form .inputrow button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px;
  background-color: #242424;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}
.btns{
  display: flex;
  align-items: center;
}
.btns .AddNewRow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px;
  background-color: #242424;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  cursor: pointer;
}
.btns .SubmitRoleNft{
  padding: 15px 45px;
  border-radius: 12px;
  background-color: #9945ff;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}